
#navigation{
    font-size: 25px;
    color: white;
    background-color: black;
    height: 30px;
    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: inline-block
    
}

#logo{
    margin-right: 200px;
    color: aquamarine;
}

#account{
    margin-right: 200px;
}

#cart{
    margin-right: 350px;
}

#searchbar{
    
}

#searchbox{
    background-color: orange;
}



footer{
    text-align: center;
    background-color: bisque;
    position: absolute;
    padding: 10px;
    left: 0;
    right: 0;
    top: 100vh;
   
    